<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riotfallen.moviedirectory.core">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.riotfallen.moviedirectory.core.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.riotfallen.moviedirectory.core.WRITE_DATABASE"
        android:protectionLevel="normal" />
</manifest>
